<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>제품등록</title>
</head>
<body>
    <div th:replace="~{/header.html :: header }"></div>
        <div class="container">
            <button type="button" class="btn btn-success my-3" onclick="location.href='/product'">돌아가기</button>
            <form id="productForm" class="form-control">

                제품명 <input class="form-control" name="pname" type="text"/> <br>
                제품설명 <input class="form-control" name="pcontent" type="text"/> <br>
                제품가격 <input class="form-control" name="pprice" type="text"/> <br>
                제품사진업로드 <input class="form-control" name="files" type="file" multiple accept="image/*"/>
                <!-- multiple : 파일 여러개 업로드 가능, accept : 허용할 확장자, image/* : 이미지 파일 전체 확장자만 가능 -->
                <button class="btn btn-success" type="button" onclick="onRegister()">등록</button>
            </form>
        </div>
    <script src="/js/product/register.js"></script>
    <div th:replace="~{/footer.html :: footer }"></div>
</body>
</html>