<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>개인정보 수정</title>
</head>
<body>
    <div th:replace="~{/header.html :: header }"></div>
    <div class="container">
        <h3 class="my-3">개인정보 수정하기</h3>
        <div class="col-6 mx-auto">
            <div class="form-control">
                수정하지 않을 부분은 비워두시길 바랍니다.
                <!-- <form method="get" 또는 "post" action="/member/update"></form> : 대안-->
                <ul class="list-group">
                    <li class="list-group-item">이름 : <span id="name"></span></li>
                    <li class="list-group-item">새 이름 : <input class="form-control" type="text" id="newName"></li>
                    <li class="list-group-item">연락처 : <span id="phone"></span></li>
                    <li class="list-group-item">새 연락처 : <input class="form-control" type="text" id="newPhone" ></li>
                    <li class="list-group-item">이메일 : <span id="email"></span></li>
                    <li class="list-group-item">새 이메일 : <input class="form-control" type="text" id="newEmail"></li>
                    <li class="list-group-item">기존 비밀번호 : <input class="form-control" type="password" id="oldPw"></li>
                    <li class="list-group-item">새 비밀번호 : <input class="form-control" type="password" id="newPw"></li>
                </ul>
                <button type="button" id="update" class="btn btn-success mt-3" onclick="updateInfo()">수정하기</button>
                <button type="button" class="btn btn-success mt-3" onclick="location.href='/member/mypage'">돌아가기</button>
            </div>
        </div>
    </div>
    <script src="/js/member/update.js"></script>
    <div th:replace="~{/footer.html :: footer }"></div>
</body>
</html>